/marketplace/node_modules/
/marketplace/hardhat.config.js
/marketplace/artifacts
/bnft/node_modules/
/bnft/hardhat.config.js
/bnft/artifacts
/mustachio/node_modules/
/mustachio/hardhat.config.js
/mustachio/artifacts
/mustachio/cache